<header class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#home">Lavan Bharatha</a>
      <button class="navbar-toggler" type="button" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [class.show]="isMenuOpen">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" *ngFor="let item of navItems">
            <a class="nav-link ms-2" 
               [href]="'#' + item.id"
               (click)="scrollToSection(item.id, $event)"
               [class.active]="activeSection === item.id">
               {{item.label}}
            </a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
</header>