<section class="hero row d-flex justify-content-between">
  <div class="container ms-5">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1 class="hero-title">
          Hi, I'm <span class="highlight">Lavan Bharatha</span>
          <div class="subtitle">Software Engineer</div>
        </h1>
        <p class="hero-text">
          I'm a passionate software engineer with 2+ years of experience in building enterprise-level applications using Java, Spring Boot, and Angular. I specialize in creating robust and scalable solutions.
        </p>
        <div class="hero-buttons">
          <a routerLink="/projects" class="btn btn-routing btn-primary me-3" routerLinkActive="active">View Projects</a>
          <a routerLink="/contact" class="btn btn-routing btn-outline-primary">Contact Me</a>
        </div>
  </div>

  <!-- <div class="container col-6">
    <h2 class="text-center mb-5">Tech Stack</h2>
    <div class="row g-4 justify-content-center">
      <div class="col-2" *ngFor="let tech of techStack">
        <div class="tech-card">
          <i [class]="tech.icon"></i>
          <button class="btn btn-secondary d-flex align-items-between gap-2" style="width: 180px;">{{tech.name}}</button>
        </div>
      </div>
    </div> -->


    <div class="col-5">
      <h2 class="text-center mb-6">Tech Stack</h2>
      <div class="row g-4 justify-content-center mt-3">
        <button class=" col-4 btn btn-dark skill-button" style="font-size: 20px; margin: 30px;width:150px;">
          Java
        </button>
        <div class="btn col-4 btn-dark skill-button" style="font-size: 20px; margin: 30px;width:150px;">
          SpringBoot
        </div>
        <div class=" col-4 btn btn-dark skill-button" style="font-size: 20px; margin: 30px;width:150px;">
          Angular18
        </div>
      </div>
      <div class="row g-4 justify-content-center">
       
        <div class="btn col-6 btn-dark skill-button" style="font-size: 20px; margin: 30px;width:150px;">
          HTML5
        </div>
        <div class=" col-6 btn btn-dark skill-button" style="font-size: 20px; margin: 30px;width:150px;">
          CSS
        </div>
        <a class="btn col-6 btn-dark skill-button" style="font-size: 20px; margin: 30px;width:150px;">
          Bootstrap5
        </a>
      </div>
      
      <div class="row g-4 justify-content-center">
        <div class="btn col-6 btn-dark skill-button" style="font-size: 20px; margin: 30px;width:150px;">
          Microservices
        </div>
        <div class=" col-6 btn btn-dark skill-button" style="font-size: 20px; margin: 30px;width:150px;">
          GIT
        </div>
        <a class="btn col-6 btn-dark skill-button" style="font-size: 20px; margin: 30px;width:150px;">
          RestAPI's
        </a>
      </div>
     
    </div>
    </div>
  </div>
