<app-header></app-header>

<main class="main-content">
  <section id="home" class="section" data-section="home">
    <div class="container">
      <app-home></app-home>
    </div>
  </section>


  <section id="experience" class="section" data-section="experience">
    <div class="container">
      <app-experience></app-experience>
    </div>
  </section>

  <section id="skills" class="section" data-section="skills">
    <div class="container">
      <app-skills></app-skills>
    </div>
  </section>

  <section id="projects" class="section" data-section="projects">
    <div class="container">
      <app-projects></app-projects>
    </div>
  </section>

  <section id="contact" class="section" data-section="contact">
    <div class="container">
      <app-contact></app-contact>
    </div>
  </section>
  <app-footer></app-footer>
</main>

