.main-content {
  padding-top: 3rem;
  
  background-color: var(--color-bg);
  position: relative;
  min-height: 100vh;
}

/* Section basic styling */
.section {
  padding: 4rem 0;
  background-color: var(--color-bg);

  @media screen and (max-width: 1024px) {
    padding: 4rem 0;
  }

  @media screen and (max-width: 600px) {
    padding: 3rem 0;
  }
}

