.main-content {
  margin-top: 4rem;
  overflow-x: hidden;
  background-color: var(--color-bg);
}

.section {
  
  padding: 4rem 0;
  background-color: var(--color-bg);

  @media screen and (max-width: 1024px) {
    padding: 4rem 0;
  }

  @media screen and (max-width: 600px) {
    padding: 3rem 0;
  }
}
