.skills-section {
  padding: 6rem 0;
  background-color: var(--color-bg);
  width: 100%;
}

.section-title {
  color: var(--color-white);
  font-weight: 700;
  position: relative;
  margin-bottom: 3rem;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background: var(--color-primary);
  }
}

.skill-category {
  background: var(--color-bg-variant);
  border-radius: 1rem;
  padding: 2rem;
  height: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  overflow: hidden;
}

.skill-category:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.category-title {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.75rem;
  flex-wrap: wrap;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
}

.skill-name {
  color: var(--color-white);
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  i {
    width: 25px;
    height: 25px;
    font-size: 1.2rem;
  }
}

.skill-percentage {
  color: var(--color-light);
  font-size: 0.9rem;
}

/* Hover effect */
.skill-item:hover .skill-name {
  color: var(--color-primary);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .skills-section {
    padding: 4rem 0;
  }

  .skills-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .skills-section {
    padding: 3rem 0;
  }

  .skill-category {
    padding: 1.5rem;
  }

  .skill-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .skill-name {
    font-size: 15px;

    i {
      font-size: 1rem;
    }
  }

  .skill-percentage {
    font-size: 0.8rem;
  }
}
